In [3]:
# Part 1. Data loading and Exploration

import pandas as pd

#Load all csv files using pd.read_csv()

products_df = pd.read_csv('wk8-products.csv')
sales_df = pd.read_csv('wk8-sales.csv')
inventory_df = pd.read_csv('wk8-inventory.csv')
customers_df = pd.read_csv('wk8-customers.csv')
stores_df = pd.read_csv('wk8-stores.csv')

In [4]:
# Preview data
print(products_df.head())
print(sales_df.head())
print(inventory_df.head())
print(customers_df.head())
print(stores_df.head())

   product_id        product_name     category  subcategory    brand    price  \
0           1     Apple iPhone 13  Electronics  Smartphones    Apple   899.99
1           2  Samsung Galaxy S21  electronics  Smartphones  Samsung   799.99
2           3     Sony WH-1000XM4  ELECTRONICS   Headphones     Sony   349.99
3           4         Dell XPS 13  Electronics      Laptops     Dell  1299.99
4           5    Nike Classic Tee     Clothing       Shirts     Nike    24.99

     cost  weight
0  649.99    0.45
1  539.99    0.50
2  210.00    0.60
3  899.99    2.80
4   12.50    0.20
   sale_id        date  store_id  customer_id  product_id  quantity    total  \
0        1  2022-01-15       3.0           12           5         2    49.98
1        2  2022-01-16       1.0            5          10         1    49.99
2        3  2022-01-18       2.0            8           3         1   349.99
3        4  2022-01-20       4.0           20           7         1   349.99
4        5  2022-01-22       5.0            3          15         1  1599.99

  payment_method
0    Credit Card
1    credit card
2     DEBIT CARD
3           Cash
4             CC
   inventory_id  store_id  product_id  quantity_in_stock last_restock_date  \
0             1         1           1                 25        2022-10-15
1             2         1           5                 42        2022-11-02
2             3         1          10                 18        2022-09-30
3             4         1          15                  5        2022-10-20
4             5         1          20                 12               NaN

   reorder_level
0           10.0
1           15.0
2            8.0
3           10.0
4           15.0
   customer_id first_name last_name                  email           phone  \
0            1      James     Smith  james.smith@gmail.com    555-123-4567
1            2       Mary   Johnson                    NaN    212.555.6789
2            3       John  Williams    jwilliams@yahoo.com  (555) 987-6543
3            4   Patricia     Brown     pbrown@hotmail.com      5551234567
4            5     Robert     Jones     rjones23@gmail.com    555-987-3456

        address         city       state    zip_code registration_date
0   123 Main St     New York          NY       10001        2021-03-15
1  456 Park Ave     New York          NY       10022        2020-11-02
2  789 Broadway  Los Angeles  California  90001-1234        2021-05-20
3    321 Elm St      Chicago          IL       60601               NaN
4   555 Pine St      Houston          TX       77002        2020-09-12
   store_id         store_name           address         city  state zip_code  \
0         1        City Center   123 Retail Blvd     New York     NY    10001
1         2    Mall of Chicago  456 Shopping Ave      Chicago     IL    60611
2         3  Los Angeles Plaza   789 Commerce St  Los Angeles     CA    90001
3         4   Houston Galleria       321 Main St      Houston  Texas    77002
4         5     Phoenix Outlet     654 Desert Rd      Phoenix     AZ    85001

      region  size_sqft opening_date
0  Northeast    32500.0   2005-05-20
1    Midwest    45000.0   2007-08-15
2       West    55000.0   2004-03-10
3  Southwest        NaN   2008-11-05
4  Southwest    18500.0   2010-06-30

In [5]:
# Summary statistics of numerical columns in the products.csv sale.csv and inventory.csv dataframes

print(products_df.describe())
print(sales_df.describe())
print(inventory_df.describe())

       product_id        price         cost     weight
count   30.000000    30.000000    30.000000  28.000000
mean    15.500000   191.724000   203.159000   3.835714
std      8.803408   452.483576   278.924138   5.693236
min      1.000000 -1599.990000     1.800000   0.200000
25%      8.250000    46.990000    28.375000   0.500000
50%     15.500000   134.990000    82.500000   1.150000
75%     22.750000   322.490000   236.250000   3.750000
max     30.000000  1299.990000  1100.000000  25.000000
         sale_id   store_id  customer_id  product_id   quantity        total
count  40.000000  39.000000    40.000000   40.000000  40.000000    40.000000
mean   20.500000   6.487179    14.075000   13.500000   1.625000   352.296500
std    11.690452   4.235637     8.303189    8.857852   0.952392   377.625776
min     1.000000   1.000000     1.000000    1.000000   1.000000    19.980000
25%    10.750000   3.000000     6.750000    5.750000   1.000000    99.737500
50%    20.500000   6.000000    13.500000   11.500000   1.000000   229.985000
75%    30.250000   9.500000    20.250000   21.250000   2.000000   352.487500
max    40.000000  15.000000    29.000000   30.000000   5.000000  1599.990000
       inventory_id   store_id  product_id  quantity_in_stock  reorder_level
count     75.000000  75.000000   75.000000          75.000000      69.000000
mean      38.000000   8.000000   12.733333          22.640000      12.681159
std       21.794495   4.349588    7.179801          13.923187       3.327659
min        1.000000   1.000000    1.000000           0.000000       8.000000
25%       19.500000   4.000000    6.500000          15.000000      10.000000
50%       38.000000   8.000000   13.000000          25.000000      10.000000
75%       56.500000  12.000000   19.000000          33.500000      15.000000
max       75.000000  15.000000   25.000000          45.000000      20.000000

In [6]:
# Check for missing values

print(products_df.isnull().sum())
print(sales_df.isnull().sum())
print(inventory_df.isnull().sum())
print(customers_df.isnull().sum())
print(stores_df.isnull().sum())

product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          2
dtype: int64
sale_id           0
date              1
store_id          1
customer_id       0
product_id        0
quantity          0
total             0
payment_method    1
dtype: int64
inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        6
dtype: int64
customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             1
registration_date    3
dtype: int64
store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       2
opening_date    1
dtype: int64

In [7]:
# Display the data types of each column in all dataframes

print(products_df.dtypes)
print(sales_df.dtypes)
print(inventory_df.dtypes)
print(customers_df.dtypes)
print(stores_df.dtypes)

product_id        int64
product_name     object
category         object
subcategory      object
brand            object
price           float64
cost            float64
weight          float64
dtype: object
sale_id             int64
date               object
store_id          float64
customer_id         int64
product_id          int64
quantity            int64
total             float64
payment_method     object
dtype: object
inventory_id           int64
store_id               int64
product_id             int64
quantity_in_stock      int64
last_restock_date     object
reorder_level        float64
dtype: object
customer_id           int64
first_name           object
last_name            object
email                object
phone                object
address              object
city                 object
state                object
zip_code             object
registration_date    object
dtype: object
store_id          int64
store_name       object
address          object
city             object
state            object
zip_code         object
region           object
size_sqft       float64
opening_date     object
dtype: object

In [8]:
# Basic information retrieval 
# How many unique products are in the product catalog?

print(products_df['product_id'].nunique())

# What are the top 5 most expensive products?

print(products_df.sort_values(by='price', ascending=False).head(5))

# Which store has the largest floor space?

print(stores_df.loc[stores_df['size_sqft'].idxmax()])

# What is the distribution of customers by state?

print(customers_df['state'].value_counts())

30
    product_id        product_name        category  subcategory    brand  \
3            4         Dell XPS 13     Electronics      Laptops     Dell
0            1     Apple iPhone 13     Electronics  Smartphones    Apple
1            2  Samsung Galaxy S21     electronics  Smartphones  Samsung
19          20    Dyson V11 Vacuum  HOME & KITCHEN   Appliances    Dyson
26          27  Sony PlayStation 5     Electronics       Gaming     Sony

      price    cost  weight
3   1299.99  899.99    2.80
0    899.99  649.99    0.45
1    799.99  539.99    0.50
19   599.99  375.00    6.70
26   499.99  399.00    4.50
store_id                        3
store_name      Los Angeles Plaza
address           789 Commerce St
city                  Los Angeles
state                          CA
zip_code                    90001
region                       West
size_sqft                 55000.0
opening_date           2004-03-10
Name: 2, dtype: object
state
TX                4
CA                3
NY                2
MA                1
NM                1
WI                1
KY                1
MD                1
Maryland          1
TN                1
MI                1
NV                1
Oregon            1
Washington        1
CO                1
California        1
IN                1
North Carolina    1
OH                1
FL                1
Texas             1
PA                1
AZ                1
IL                1
MO                1
Name: count, dtype: int64

In [9]:
# Part 2: Data Cleaning
# Handling missing values
# Identify missing values
for df, name in zip([products_df, sales_df, inventory_df, customers_df, stores_df],
                    ['Products', 'Sales', 'Inventory', 'Customers', 'Stores']):
    print(f"\n{name} missing values:\n", df.isnull().sum())

# For numerical columns with missing values, replace them with the column mean

def fill_missing(df):
    for col in df.columns:
        if df[col].dtype in ['float64', 'int64']:
            df[col].fillna(df[col].mean(), inplace=True)
        elif df[col].dtype == 'object':
            df[col].fillna(df[col].mode()[0], inplace=True)
        elif 'date' in col.lower():
            df[col].fillna(method='ffill', inplace=True)
    return df

Products missing values:
 product_id      0
product_name    0
category        0
subcategory     0
brand           0
price           0
cost            0
weight          2
dtype: int64

Sales missing values:
 sale_id           0
date              1
store_id          1
customer_id       0
product_id        0
quantity          0
total             0
payment_method    1
dtype: int64

Inventory missing values:
 inventory_id         0
store_id             0
product_id           0
quantity_in_stock    0
last_restock_date    9
reorder_level        6
dtype: int64

Customers missing values:
 customer_id          0
first_name           0
last_name            0
email                3
phone                2
address              0
city                 0
state                0
zip_code             1
registration_date    3
dtype: int64

Stores missing values:
 store_id        0
store_name      0
address         0
city            0
state           0
zip_code        0
region          0
size_sqft       2
opening_date    1
dtype: int64

In [10]:
# Part 2: Removing duplicates
# Products

duplicates_products = products_df.duplicated()
print("Products duplicates:", duplicates_products.sum())
products_df = products_df.drop_duplicates()

# Customers

duplicates_customers = customers_df.duplicated()
print("Customers duplicates:", duplicates_customers.sum())
customers_df = customers_df.drop_duplicates()

Products duplicates: 0
Customers duplicates: 0

In [11]:
# Explain your approach for identifying duplicates.

# I used the duplicated() method to find duplicates for entire rows.
#I don't consider an entry to be a duplicate unless all entries for the entire columns are duplicated.